parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures
    ignoreErrors:
        - '#Call to method.*assertIsArray\(\) with array.*will always evaluate to true#'
    reportUnmatchedIgnoredErrors: false
