parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures
    ignoreErrors:
        - '#Call to method PHPUnit\\Framework\\Assert::assertIsArray\(\) with array.*will always evaluate to true#'
